* {
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz';
	background: #f7f7f7 url("../Imagenes/bg04.png");
}

.contenedor_fondo1{
	background: #3B4346 url("../Imagenes/bg01.jpg");
}

.contenedor_header{
	margin-left: 70px;
	margin-right: 70px;
}

header{
	border-top: solid 1px #222628;
}

nav{ /*Para la barra de navegación*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

h1 a{
	color: #fff;
	text-decoration: none;
	font-size: 46px;
}

.navbar a{
	margin: 25px 0px 10px 50px;	
	text-decoration: none;
	color: #ADC9B0;
	font-size: 28px;
}

.header{ /*Para la descripción, botón y imagen*/
	height: 280px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid 1px #222628;
}

.descripcion{
	width: 50%;
}

.descripcion p{
	font-size: 35px;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.80);
}

.descripcion input{
	font-size: 28px;
	border-radius: 10px;
	height: 60px;
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	border:0;
	/*Copiado de la página oficial para una mayor similitud*/
	background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75),
	inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5),
	inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85),
	3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.header img{
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
	margin: 30px 0;
	margin-left: 15px;
	height: 70%;
	width: 590px;
	padding: 10px;
	background: #353D40 url("../Imagenes/bg04.png");
	background-color: #FFF;
}

.contenedor_primario{
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 1200px){
	.contenedor_fondo1{
		margin-bottom: -30px;
	}
	.contenedor_header{
		text-align: center;
	}
	nav{
		flex-direction: column;
		height: 60px;
	}
	.navbar a{
		display: none;
	}
	h1 a{
		font-size: 19px;
	}
	.descripcion{
		width: 100%;
	}
	.header{
		flex-direction: column;
		height: 80%;
	}
	.header img{
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		width: 100%;
		height: 50%;	
	}
}

/*Comienza la sección de la galeria*/

.contenedor_fondo2{
	background: #353D40 url("../Imagenes/bg02.jpg");
	border-top: solid 1px #222628;
}

.contenedor_galeria{
	margin-left: 70px;
	margin-right: 70px;
}

.galeria{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

.columna1, .columna2, .columna3, .columna4{
	padding: 45px 0 45px 0;
	width: 22%;
}

.galeria h2{
	margin-top: 27px;
	color: #FFF;
	font-size: 23px;
}

.galeria p{
	color: #a0a8ab;
	font-size: 19px;
	line-height: 30px;
}

.galeria p a{
	text-decoration: none;
	color: #FFF;
}

.galeria img{
	width: 100%;
	padding: 10px;
	background: #353D40 url("../Imagenes/bg04.png");
	background-color: #FFF;
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1200px){
	.columna1, .columna2, .columna3, .columna4{
		width: 48%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 768px){
	.galeria{
		margin-top: 20px;
	}
	.columna1, .columna2, .columna3, .columna4{
		width: 100%;
		padding: 25px 0 25px 0;
	}
}

/*Comienza la sección de los paneles*/

.contenedor_panel{
	margin-left: 70px;
	margin-right: 70px;
}

.paneles{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.paneles h2{
	color: #373f42;
	font-size: 28px;
	margin-top: 5
}

.paneles h3{
	color: #96a9b5;
	font-size: 20px;
}

.paneles p{
	color: #474f51;
	font-size: 18px;
}

.panel1, .panel2, .panel3{
	height: 510px;
	padding: 20px 20px 5px 20px;
	width: 30%;
	background-color: #FFF;
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.panel1 img{
	width: 100%;
}

.panel2 img{
	margin: 0px 15px 0px -40px;
}

.imagen1, .imagen2, .imagen3{
	display: flex;
	margin: 0px 0px 20px 0px;
}

.panel3 img{
	width: 25%;
} 

.imagen{
	border-bottom: solid 1px #e2e6e8;
}

.contenido_panel3 h4{
	margin: 10px;
	width: 100%;
	font-style: italic;
}

.contenido_panel3 p{
	margin: 10px;
	color: #474f51;
	width: 100%;
}

.panel2 li{
	line-height: 60px;
	list-style: none;
	font-size: 19px;
	border-bottom: solid 1px #e2e6e8;
}

@media screen and (max-width: 1200px){
	.panel1{
		width: 100%;
		height: 30%;
	}
	.panel2, .panel3{
		margin-top: 30px;
		width: 45%;
		height: 70%;
	}
}

@media screen and (max-width: 910px){
	.panel2, .panel3{
		margin-top: 30px;
		width: 100%;
		height: 70%;
	}
	.panel3 img{
		width: 60px;
	} 
	.contenido_panel3 h4{
		margin: 10px;
	}
	.contenido_panel3 p{
		margin: 10px;
		width: 100%;
	}
}


/*Comienza la sección del footer*/

.contenedor_fondo3{
	background-color: #D0D5D9;
	margin-top: 30px;
}

.contenedor_footer{
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	flex-wrap: wrap;
	line-height: 29px;
}

.link_importante{
	text-decoration: none;
	width: 65%;
	padding: 25px 0px 0px 25px;
}

.link_importante h4{
	font-size: 18px;
	color: #212f35;
}

.link_importante ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: -52px;
}

.link_importante li{
	margin:0px 10px 10px 10px;	
	list-style: none;
	width: 20%;
	font-size: 18px;
	border-bottom: solid 1px #b5bec3;
}

.link_importante li a{
	color: #546b76;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.texto_informativo{
	width: 35%;
	padding: 25px 0px 0px 25px;
}

.texto_informativo h4{
	color: #212f35;
	font-size: 18px;
}

.texto_informativo p{
	font-weight: 200;
	color: #474f51;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.derechos{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	text-align: center;
	color: #8d9ca3;
	font-size: 18px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.derechos a{
	color: #8d9ca3;
}

@media screen and (max-width: 1250px){
	.link_importante{
		width: 100%;
	}
	.texto_informativo{
		width: 100%;
	}
}

@media screen and (max-width: 870px){
	.link_importante ul{
		flex-direction: column;
	}
	.link_importante li{
		width: 100%;
	}
}

/*Finaliza la página index.html*/

.contenedor_columnas{
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tres_columnas{
	display: flex;
	flex-direction: row;
}

.columna_panel1,
.columna_panel3{
	width: 25%;
}

.sub_panel1,
.sub_panel2,
.sub_panel3,
.sub_panel4{
	margin: 0px 20px 20px 0px;
	padding: 25px 20px 20px 25px;
	height: 50%;	
	background-color: white;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
}

.columna_panel2{
	width: 50%;
	margin: 0px 20px 0px 0px;
	padding: 25px 20px 20px 25px;
	background-color: white;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
}

.tres_columnas h2{
	font-size: 29px;
	color: #373f42;
}

.tres_columnas h4{
	color: #96a9b5;
	font-size: 20px;
}

.tres_columnas p{
	font-size: 18px;
	line-height: 29px;
	color: #474f51;
	margin-bottom: 30px;
}

.tres_columnas li{
	margin-left: -40px;
	margin-bottom: 10px;
	list-style: none;
	font-size: 18px;
	line-height: 29px;
	border-bottom: solid 1px #e2e6e8;
}

.tres_columnas li a{
	color: #ED391B;
}

@media screen and (max-width: 1200px){
	.tres_columnas{
	flex-direction: column;
	}
	.sub_panel1,
	.sub_panel2,
	.sub_panel3,
	.sub_panel4{
		width: 100%;
	}
	.columna_panel1,
	.columna_panel3{
		width: 100%;
		margin-top: 20px;
	}
	.columna_panel2{
		width: 100%;
		margin-bottom: 10px;
	}
}

/*Finaliza la página three_column y comienza one_column*/

.contenedor_contenido{
	margin-left: 70px;
	margin-right: 70px;
}

.contenedor_parrafos{
	background-color: #fff;
	padding: 40px 30px 45px 30px;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	margin-top: 40px;
}

.contenedor_parrafos h2{
	color: #373f42;
	font-size: 29px;
}

.contenedor_parrafos h3{
	color: #96a9b5;
	font-size: 22px;
	margin-bottom: 30px;
}

.contenedor_parrafos p{
	color: #474f51;
	font-size: 18px;
	line-height: 29px;
}

